.botton{
    width: 130px;
    height: 40px;
    color: #ffffff;
    border-radius: 5px;
    padding: 10px 45px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    text-decoration: none;
    text-align: center;
    background: rgb(255,27,0);
    background: linear-gradient(0deg, rgba(255,27,0,1) 0%, rgba(251,75,2,1) 100%);
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
 
    
}

.botton span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
 .botton:before,
.botton:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
     background: rgba(255,27,0,1);
    transition: all 0.3s ease;
}
.botton:before {
    height: 0%;
    width: 2px;
}
.botton:after {
    width: 0%;
    height: 2px;
}
.botton:hover{
     background: transparent;
    box-shadow: none;
}
.botton:hover:before {
    height: 100%;
}
.botton:hover:after {
    width: 100%;
}
.botton span:hover{
     color: rgb(245, 227, 220);
     text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.384);
}
.botton span:before,
.botton span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
     background: rgba(255,27,0,1);
    transition: all 0.3s ease;
}
.botton span:before {
    width: 2px;
    height: 0%;
}
.botton span:after {
    width: 0%;
    height: 2px;
}
.botton span:hover:before {
    height: 100%;
}
.botton span:hover:after {
    width: 100%;
}
.botton button-services:hover {
    color: white;
}
