.perfil-container{

    width: 70%;
    height: 50%;
    margin: 0 auto;
    max-width: 80%;
    margin-top: 15%;
    background-color: bisque;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.Titulo{
    margin-top: 2%;
    margin-left: 2%;
    margin-bottom: -2%;
}
