@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
.Container{
    display: flex;
    width: 90%;
    height: 100vh;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 auto  ;
    align-items: center;
 
    


}
.contenido-texo p{
    text-align: center;
    width: 100%;
    font-size: 1.01em;
    text-align: justify;
    
   
 
}
.boton{
    width: 80%;
    margin: 0 auto;
    margin-top: -10%;
    
}


.imagen-vision{
   border-radius: 30px ;
   
}
.imagen-vision{
    box-shadow: 14px 12px 15px rgba(0, 0, 0, 0.3);

}